.all-chats-main-container{
    margin-left: 8vw;
    width: 25vw;
    background-color: rgb(205, 55, 55);
    flex-direction: row;
}

.all-chats-container{
    padding: 0 1vw;
    border-right: 2px solid black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.all-chats-container h2{
    margin: 2vh 0;
}

.all-chats-input-group{
    margin:  0 0 .5vh 0;
}

.all-chats-input-group input{
    width: 85%;
    padding: 0.5vh 0.3vw;
    font-size: 1.1rem;
}

.all-chats-inner-container{
    margin: 0.2rem ;
    padding: 0.2rem;
    background-color: white;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.all-chats-profile{
    padding-right: .5vw;
}

.all-chats-each-chat{
    margin: 0.5vh 0;
    border: 2px solid black;
    width: 100%;
    padding: .5vw;
}